<main class="section">
  <h2 class="section-title">ユーザー名編集</h2>

  <%= form_with(model: @user, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= f.submit "更新する", class: "btn-primary" %>
  <% end %>
  <div class="links">
    <%= link_to "マイページに戻る", user_path(@user) %>
  </div>
</main>
